@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-bg {
  background-color: #89a54d; /* Using a custom color defined in Tailwind config */
}
/* Custom Styles */
.text-customGreen {
  color: #89a54d;
}
.bg-customGreen {
  background-color: #89a54d;
}
